<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Prueba</title>
</head>
<body>
    <div id="contenedor">
        <h1>
            {{ name }}
        </h1>
        <p>{{ lastName }}</p>
        <hr>

        <h1>Pro del Salón</h1>
        <ol>
            <li v-for="alumno in palomilla">
                {{ alumno.name }}
                {{ alumno.role }}
            </li>
        </ol>

        <fieldset>
            <legend>Nuevo alumno</legend>
            <input type="text" v-model="alumno_name">
            <input type="text" v-model="role">

            <button @click="addPalomilla">
                Agregar
            </button>
        </fieldset>

    </div>

    <!-- Nos permite editar el DOM sin mayor complejidad -->
    <!-- Directiva: es todo lo que empieza con v en VueJs -->

    <script src="https://unpkg.com/vue@3"></script>
    <script type="text/javascript">
        
        const { createApp } = Vue;

        const { app } = createApp({
            data() {
                return {
                    name: 'Armando',
                    lastName: 'Torres',
                    palomilla: [
                        {name: 'Dua', role: 'Backend'},
                        {name: 'Sabrina', role: 'Frontend'},
                        {name: 'Henry', role: 'Data Base Administer'},
                        {name: 'Sofia', role: 'Móvil'},
                        {name: 'Nicki', role: 'Redes'},
                    ],
                    alumno_name: "",
                    role: "",
                }
            },
            methods: {
                addPalomilla() {
                    this.palomilla.push({name:this.alumno_name, role:this.role});
                }
            },
        }).mount('#contenedor');

    </script>
</body>
</html>